<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="smartscanner-cordova" version="0.3.16">
    <name>SmartScannerPlugin</name>

    <description>Cordova plugin for the SmartScanner Core library to scan MRZ and barcodes.</description>
    <license>Apache-2.0</license>

    <keywords>cordova,android,mlkit,firebase,alert</keywords>
    <repo>https://github.com/idpass/smartscanner-cordova.git</repo>
    <issue>https://github.com/idpass/smartscanner-cordova/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/smartscannerplugin.js" name="SmartScannerPlugin">
        <clobbers target="window.plugins.smartscannerplugin" />
    </js-module>
    <platform name="android">

        <framework src="src/android/smartscannerplugin.gradle" custom="true" type="gradleReference" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmartScannerPlugin">
                <param name="android-package" value="org.idpass.cordova.plugin.SmartScannerPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/SmartScannerPlugin.java" target-dir="src/org/idpass/cordova/plugin" />

        <lib-file src="aar/smartscannerlib-debug.aar" />
        <lib-file src="aar/smartscannerlib-release.aar" />

        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="org.idpass.smartscanner.lib.SmartScannerActivity"
                android:theme="@style/AppTheme"/>
        </config-file>
    </platform>
</plugin>
