<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-impactlabs-mlkit" version="1.0.0">
    <name>MLKitPlugin</name>

    <description>An Android Cordova plugin that allows users to display call on native classes defined in other MLKit Projects.</description>
    <license>MIT</license>

    <keywords>cordova,android,mlkit,firebase,alert</keywords>
    <repo>https://github.com/newlogic/idpass-smart-scanner-cordova.git</repo>
    <issue>https://github.com/newlogic/idpass-smart-scanner-cordova/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/mlkitplugin.js" name="MLKitPlugin">
        <clobbers target="window.plugins.mlkitplugin" />
    </js-module>
    <platform name="android">

        <framework src="src/android/mlkitplugin.gradle" custom="true" type="gradleReference" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MLKitPlugin">
                <param name="android-package" value="com.impactlabs.cordova.plugin.MLKitPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/MLKitPlugin.java" target-dir="src/com/impactlabs/cordova/plugin" />

        <lib-file src="aar/mlkitlibrary-debug.aar" />
        <lib-file src="aar/mlkitlibrary-release.aar" />

        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.newlogic.mlkitlib.newlogic.SmartScannerActivity" 
                android:theme="@style/AppTheme"/>
        </config-file>
    </platform>
</plugin>